USE [master]
GO
/****** Object:  Database [MVCTest1]    Script Date: 10/30/2018 11:44:33 ******/
CREATE DATABASE [MVCTest1] ON  PRIMARY 
( NAME = N'MVCTest1', FILENAME = N'D:\Program Files\Microsoft SQL Server2008R2\MSSQL10_50.SQLEXPRESS2008R2\MSSQL\DATA\MVCTest1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVCTest1_log', FILENAME = N'D:\Program Files\Microsoft SQL Server2008R2\MSSQL10_50.SQLEXPRESS2008R2\MSSQL\DATA\MVCTest1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCTest1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCTest1]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 10/30/2018 11:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Pwd] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON
INSERT [dbo].[UserInfo] ([ID], [Name], [Pwd]) VALUES (1, N'修改', N'admin')
INSERT [dbo].[UserInfo] ([ID], [Name], [Pwd]) VALUES (2, N'修改', N'admin1')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
/****** Object:  Table [dbo].[Catalog]    Script Date: 10/30/2018 11:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Catalog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Catalog] ON
INSERT [dbo].[Catalog] ([ID], [Name]) VALUES (4, N'计算机了')
SET IDENTITY_INSERT [dbo].[Catalog] OFF
/****** Object:  Table [dbo].[Books]    Script Date: 10/30/2018 11:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](50) NOT NULL,
	[ClickNum] [int] NOT NULL,
	[CID] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON
INSERT [dbo].[Books] ([BookId], [BookName], [ClickNum], [CID]) VALUES (2, N'C#', 1, 4)
INSERT [dbo].[Books] ([BookId], [BookName], [ClickNum], [CID]) VALUES (3, N'.net', 2, 4)
INSERT [dbo].[Books] ([BookId], [BookName], [ClickNum], [CID]) VALUES (4, N'asp.net', 3, 4)
SET IDENTITY_INSERT [dbo].[Books] OFF
