
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
      @{
          EFTest.UserInfo ui = (EFTest.UserInfo) ViewData["n"];

      }
        @ui.Name
    </div>
</body>
</html>
